<template>
  <div class="gallery-item">
    <div class="gallery-item__image">
      <slot></slot>
    </div>
    <div class="gallery-item__hover hover">
      <inline-svg
        class="hover__group"
        :src="require(`@/assets/image/icons/group.svg`)"
      />
      <div class="hover__wrapper-center">
        <inline-svg
          class="hover__cart"
          :src="require(`@/assets/image/icons/cart.svg`)"
        />
        <div class="hover__title">
          <span>Узнай, что на мне</span>
        </div>
      </div>
      <div class="hover__rating">
        <inline-svg
          class="hover__rating-icons"
          :src="require(`@/assets/image/icons/like.svg`)"
        />
        <div class="hover__rating-value">
          <span>{{ ratingValue }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'GalleryItem',
  props: ['ratingValue']
}
</script>
<style scoped lang="scss">
.gallery-item {
  width: 100%;
  height: 100%;

  &__hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}

.hover {
  &__group {
    align-self: flex-end;
  }

  &__cart {
    height: 34px;
    width: 32px;
    stroke: #FFFFFF;
    stroke-width: 1px;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

  &__wrapper-center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rating {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

  &__rating-icons {
    margin-right: 6.5px;
    width: 15px;
    height: 15.5px;
  }

  &__rating-value {

  }
}
</style>
