<template>
  <footer class="footer">
    <div class="footer__container">
      <ul class="footer__list" v-for="listNavigation in listNavigations">
        <li class="footer__item item--title">{{ listNavigation.title }}</li>
        <li class="footer__item" v-for="item in listNavigation.links">
          <Nuxt-link
            class="footer__link"
            :to="item.path">
            {{ item.title }}
          </Nuxt-link>
        </li>
      </ul>
      <div class="footer__feedback">
        <span class="footer__feedback-title">Узнайте первыми о новинках и акциях</span>
        <form
          @submit.prevent="validateForm"
        >
          <div class="footer__feedback-wrapper">
            <input
              :class="{'error-text': errors.email}"
              class="footer__feedback-input"
              v-model.trim="form.email"
              type="text"
              placeholder="Адрес электронной почты"
            >
            <div
              class="error"
              v-if="errors.email">
              <span>{{ errors.email }}</span>
            </div>
          </div>
          <button
            class="footer__feedback-button"
            type="submit"
          >
            Подписаться
          </button>

        </form>
      </div>
    </div>
  </footer>
</template>
<script>
import {FooterApiService} from '../../services/layout/footer'
import {required, email} from 'vuelidate/lib/validators'
import Button from "../common/Button";

export default {
  name: 'Footer',
  components: {Button},
  data() {
    return {
      listNavigations: FooterApiService.getNavigations(),
      form: {
        email: '',
      },
      errors: {}
    }
  },
  methods: {
    validateForm(){
      this.errors = {}

      // Валидация email
      if(this.form.email) {
        if (!this.form.email.toLowerCase().match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/))
        {
          this.errors.email = 'Неверный формат email'
        }
      } else {
        this.errors.email = 'Введите email'
      }
    }

  },
}
</script>
<style scoped lang="scss">
.footer {
  padding: 70px 143px 70px 143px;

  @media (max-width: 910px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 20px 186px 18px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;


    @media (max-width: 910px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (max-width: 910px) {
      margin-bottom: 58px;
    }
  }

  &__item {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
    margin-bottom: 8px;
  }

  &__link {

    &:hover {
      font-weight: 600;
    }
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    max-width: 452px;
    width: 100%;

    @media (max-width: 910px) {
      grid-column: 1/3;
    }

    &-title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 17px;
    }

    &-input {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.04em;
      color: #828282;
      margin-bottom: 35px;
      outline: none;
      border: none;
      border-bottom: 1px solid #C4C4C4;
      padding: 16px;
    }

    &-button {
      align-self: flex-end;
      border: 1px solid #333333;
      padding: 8px 28px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.04em;
      color: #333333;
      cursor: pointer;

      &:hover {
        background-color: #e2e7ec;
        border: 1px solid transparent;
      }
    }
  }

  &__feedback-wrapper{
    position: relative;
  }
}

.item--title {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.error{
  position: absolute;
  color: red;
  bottom: 0;
  left: 0;
}

.error-text{
  transition: all 0.65s linear;
  color: red;
  border-bottom: 1px solid red;
}
</style>
