<template>
  <header
    class="header"
    :class="{'scrolled':scrollActive}"
    v-scroll="handleScroll"
  >
    <div class="header__container">
      <div class="header__logo">
        <NuxtLink to="/">
          <inline-svg
            class="header__image"
            :src="require(`@/assets/image/icons/logo.svg`)"
          />
        </NuxtLink>
      </div>
      <ul class="header__actions">
        <li class="header__actions-item">
          <inline-svg
            class="header__actions-icons"
            :src="require(`@/assets/image/icons/person.svg`)"
          />
        </li>
        <li class="header__actions-item">
          <inline-svg
            class="header__actions-icons"
            :src="require(`@/assets/image/icons/favorites.svg`)"
          />
        </li>
        <li class="header__actions-item cart">
          <inline-svg
            class="header__actions-icons"
            :src="require(`@/assets/image/icons/cart.svg`)"
          />
          <Cart
            class="header__cart-value"
            v-if="isCartVisible"
          />
        </li>
        <li class="header__actions-item">
          <Burger
            class="header__burger"
            :active="active"
            @changeHandleHeader="changeHandleHeader()"
          />
        </li>
      </ul>
      <div
        class="header__burger-menu"
        v-if="active"
      >
        <Burger
          class="header__burger-btn"
          :active="active"
          @changeHandleHeader="changeHandleHeader()"
        />
        <ul class="header__burger-list">
          <li class="header__burger-item">
            <NuxtLink to="#">постельное белье</NuxtLink>
          </li>
          <li class="header__burger-item">
            <NuxtLink to="#">одежда для дома</NuxtLink>
          </li>
          <li class="header__burger-item">
            <NuxtLink to="#">Одежда для улицы</NuxtLink>
          </li>
          <li class="header__burger-item">
            <NuxtLink to="#">выход</NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </header>

</template>
<script>
import Burger from "../common/Burger";
import Cart from "../common/Cart";

export default {
  name: 'Header',
  components: {
    Burger, Cart
  },
  data() {
    return {
      cartCounter: 0,
      active: false,
      scroll: 0,
      scrollActive: false
    }
  },
  methods: {
    changeHandleHeader() {
      this.active = !this.active;
    },
    handleScroll() {
      if (window.scrollY > this.scroll) {
        // Вниз
        console.log(window.scrollY + 'Вниз')
        this.scrollActive = true
      } else if (window.scrollY < this.scroll) {
        // Вверх
        console.log(window.scrollY + 'Вверх')
        this.scrollActive = false
      }
      this.scroll = window.scrollY
    },
  },
  computed: {
    isCartVisible() {
      return this.$store.state.cart.cart >= 1
    }
  },
  mounted() {

  }
}
</script>
<style scoped lang="scss">
.scrolled {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 12px 0;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__actions-item {
    margin-left: 24px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  &__actions-icons {
    width: 15px;
    height: 16px;
    stroke: #333333;
  }

  &__actions-cart {
    position: absolute;
    top: 10px;
    height: 10px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__burger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    max-height: 277px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFFFFF;
    padding: 20px 15px;
  }

  &__burger-btn {
    align-self: flex-end;
    margin-bottom: 38px;
  }

  &__burger-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__burger-item {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
  }

  &__cart-value {
    position: absolute;
    top: 10px;
    left: 6.5px;
  }
}

.cart {
  position: relative;
}
</style>
