@import './vars/_fonts.scss';
@import '../css/normalize.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'opensans', sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 30px;
  background-color: #fff;
  transition: background-color 0.15s linear;
  font-weight: 400;
  height: 100vh;
}


[class*="__container"] {
  max-width: 1390px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 910px) {
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  background-color: inherit;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

svg {
  display: block;
}

button{
  border: 0;
}
