<template>
  <div
      class="burger"
      :class="{'burger--close': active}"
      @click="changeHandleHeader()"
  >
    <div>
    </div>
  </div>
</template>
<script>

export default {
  props: ['active'],
  name: 'Burger',
  data() {
    return {}
  },
  methods: {
    changeHandleHeader() {
      this.$emit('changeHandleHeader');
    },
  }
}
</script>
<style lang="scss">
.burger {
  display: none;
  width: 18px;
  height: 14px;
  position: relative;
  cursor: pointer;
  z-index: 1;

  @media (max-width: 910px) {
    display: block;
  }

  &:after, &:before, & > * {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #333333;
  }


  &:after {
    top: 0;
  }

  &:before {
    bottom: 0;
  }

  & > * {
    //ПО СЕРЕДИНЕ ВЕРТИКАЛЬ
    @extend %center;

  }
}

.burger--close {

  &:before {
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #333333;
  }

  &:after {
    transform: rotate(-45deg);
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #333333;
  }


  & > * {
    opacity: 0;
  }
}

.burger--black {
  &:after, &:before, & > * {
    content: '';
    background-color: black;
  }
}

//ПО СЕРЕДИНЕ ВЕРТИКАЛЬ
%center {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}
</style>
