<template>
    <div class="cart-quantity">
      <span class="cart-quantity__value">{{ valueCart }}</span>
    </div>
</template>
<script>
export default {
  name: 'Cart',
  computed: {
      valueCart(){
        return this.$store.state.cart.cart
      }
  }
}
</script>
<style scoped lang="scss">
.cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  max-height: 16px;
  max-width: 16px;
  width: 100%;

  &__value{
    display: block;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
    padding: 2.5px;
  }
}
</style>
