<template>
  <div class="gallery">
    <div class="gallery__container">

      <GalleryItem
        class="gallery__item"
        v-for="(galleryItem, index) in galleryItems"
        :key="index"
        :ratingValue="galleryItem.ratingValue"
      >
        <img
          class="image"
          :src="require(`@/assets/image/gallery/${galleryItem.image}`)"
          alt=""
        >
      </GalleryItem>
    </div>
  </div>
</template>
<script>
import GalleryItem from "./galleryImage/GalleryItem";

export default {
  name: 'gallery',
  components: {
    GalleryItem
  },
  data() {
    return {
      galleryItems: [
        {
          image: '1.png',
          ratingValue: 100,
        },
        {
          image: '2.png',
          ratingValue: 200,
        },
        {
          image: '3.png',
          ratingValue: 300,
        },
        {
          image: '4.png',
          ratingValue: 400,
        },
        {
          image: '5.png',
          ratingValue: 500,
        },
      ]
    }
  }
}
</script>
<style scoped lang="scss">
.gallery {
  padding: 0 0 65px 0;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 16px;

    @media (max-width: 910px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:hover:before {
      content: '';
      background: rgba(51, 51, 51, .7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &:first-child {
      grid-row: 1/3;

      @media (max-width: 910px) {
        grid-column: 1/3;
      }
    }
  }
}
</style>
