<template>
  <div class="main-image">
    <div class="main-image__wrapper">
      <img
        class="image"
        :src="require(`@/assets/image/slider/${imageList[imageActive]}`)"
        alt=""
      >
    </div>
    <div class="main-image__miniature">
      <div class="main-image__miniature-item"
           v-for="(image, index) in imageList"
           :key="index"
           @click="handleChangeImage(index)"
           :class="{active: isImageActive(index)}"
      >
        <img
          class="image"
          :src="require(`@/assets/image/slider/${image}`)"
          alt=""
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MainImage',
  data() {
    return {
      imageActive: 0,
      imageList: [
        '1.png', '2.png', '3.png', '2.png', '3.png',
      ],
    }
  },
  methods: {
    handleChangeImage(i) {
      this.imageActive = i
    },
    isImageActive(i) {
      return this.imageActive === i
    }
  },

}
</script>
<style scoped lang="scss">
.main-image {
  position: relative;
  z-index: 1;

  &__wrapper {
    max-height: 880px;
    height: 100vh;

    @media (max-width: 910px) {
      max-height: 480px;
      height: 100vh;
    }
  }

  &__miniature {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 2;
    cursor: pointer;
  }

  &__miniature-item {
    max-width: 70px;
    width: 100%;
    max-height: 91px;
    height: 100vh;
    margin-bottom: 7px;
    position: relative;
    border: 2px solid transparent;

    @media (max-width: 910px) {
      max-width: 40px;
      width: 100%;
      max-height: 52px;
      height: 100vh;
    }

    &:hover{
      border: 2px solid #333333;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.active {

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
  }
}
</style>

