<template>
  <section class="product">
    <div class="product__container">
      <div class="product__top">
        <MainImage/>
        <div class="product__content">
          <div class="product__title">
            <h2>Пижама для девочек</h2>
          </div>
          <div class="product__code">
            <span>Арт. 02765/46</span>
          </div>
          <div class="product__reviews">
            <div class="product__reviews-title">
              <span>Отзывы</span>
            </div>
            <StarRating/>
            <div class="product__reviews-value">
              <span>14 отзывов</span>
            </div>
            <inline-svg
              class="product__arrow"
              :src="require(`@/assets/image/icons/arrow.svg`)"
            />
          </div>
          <div class="product__price">
            <div class="product__price-new">
              <span>800</span>
            </div>
            <div class="product__price-old">
              <span>1500</span>
            </div>
            <inline-svg
              class="product__arrow"
              :src="require(`@/assets/image/icons/arrow.svg`)"
              width="16"
              height="16"
            />
          </div>
          <div class="product__discount">
            <Discount>скидка -36%</Discount>
            <Discount>акция -20%</Discount>
          </div>
          <SelectionSize/>
          <div class="product__help">
            <span>Определить размер</span>
          </div>

          <div class="product__cart-block">
            <CartButtons/>

          </div>
          <div class="product__fast-buy">
            <span>Купить в 1 клик</span>
          </div>
          <div class="product__strip">
          </div>
          <div class="product__helps-group">
            <div class="product__helps"
                 v-for="(helpItem, index) in helpItems"
                 :key="index"
            >
              <inline-svg
                class="product__helps-icon"
                :src="require(`@/assets/image/icons/${helpItem.icon}`)"
              />
              <span>{{ helpItem.title }}</span>
            </div>
          </div>
        </div>

      </div>
      <div class="product__link">
        <span>Посмотреть все стили</span>
      </div>
    </div>
  </section>
</template>
<script>
import SelectionSize from "../ui/SelectionSize";
import StarRating from "../ui/StarRating";
import MainImage from "./MainImage";
import CartButtons from "../ui/CartButtons";
import Discount from "../ui/Discount";

export default {
  name: 'Product',
  components: {
    StarRating,
    SelectionSize,
    MainImage,
    CartButtons,
    Discount,
  },
  data() {
    return {
      helpItems: [
        {
          icon: 'closes.svg',
          title: 'Описание товара',
        },
        {
          icon: 'clock.svg',
          title: 'Доставка и возврат',
        },
        {
          icon: 'pay.svg',
          title: 'Способы оплаты',
        },
      ],
    }
  },
}
</script>
<style scoped lang="scss">
.product {
  padding-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-bottom: 32px;

    @media (max-width: 910px) {
      grid-template-columns: 1fr;
    }
  }

  &__slider {
    display: flex;
    flex: 1 1 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 50%;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 19px;
  }

  &__code {
    margin-bottom: 18px;
  }

  &__discount {
    display: flex;
    margin-bottom: 32px;
  }

  &__reviews {
    display: flex;
    align-items: center;
    font-family: 'Open Sans ', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #333333;
    margin-bottom: 46px;

    &-title {
      margin: 0 12px 0 4px;
    }

    &-value {
      margin-right: 8px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &-new {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #333333;
      margin-right: 12px;

      &:after {
        content: '₽';
        padding-left: 10px;
      }
    }

    &-old {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.04em;
      text-decoration-line: line-through;
      color: #828282;
      margin-right: 20px;

      &:after {
        content: '₽';
        padding-left: 10px;
      }
    }
  }

  &__rating {
    position: relative;
    font-size: 12px;
    display: inline-block;

    &:before {
      content: '★★★★★';
      display: block;
    }
  }

  &__help {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    cursor: pointer;
    color: #333333;
    margin-bottom: 40px;
  }

  &__code {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #828282;
  }

  &__cart-block {
    display: flex;
    margin-bottom: 12px;

    @media (max-width: 910px) {
      flex-direction: column;
    }
  }


  &__fast-buy {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #333333;
    cursor: pointer;
    margin-bottom: 24px;

    &:before {
      content: '';
      display: block;
    }
  }

  &__favorites-add {
    background-color: #333333;
    padding: 14.5px;
  }

  &__helps {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    /* Brand / Black */
    color: #333333;
    cursor: pointer;
  }

  &__button-wrapper {
    display: flex;
    margin-top: 15px;
  }

  &__cart-button {
    display: flex;
    text-align: center;
    padding: 12px 28px;
    margin-right: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #333333;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      background-color: #000000;
    }
  }

  &__helps-icon {
    width: 15px;
    height: 15px;
    margin-right: 6.5px;
  }

  &__link {
    align-self: center;
    margin-bottom: 32px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-decoration-line: underline;
    color: #333333;
  }

  &__strip {
    width: 100%;
    height: .5px;
    background-color: #C4C4C4;
    margin-bottom: 24px;
  }

  &__arrow{
    cursor: pointer;
  }
}
</style>
