<template>
  <div class="cart-buttons">
    <div
      class="cart-buttons__control"
    >
      <button
        class="cart-buttons__item"
        @click="counterAdd"
      >
        <span>+</span>
      </button>
      <span
        class="cart-buttons__amount">
      {{ amountCart }}
    </span>
      <button
        class="cart-buttons__item"
        @click="counterRemove"
        :disabled="isVisibleProduct"
      >
        <span>-</span>
      </button>
    </div>
    <div class="cart-buttons__button-wrapper">
      <button
        class="cart-buttons__cart-button"
        @click="addToCart"
      >
        <span>Добавить в корзину</span>
      </button>
      <button class="cart-buttons__favorites-add">
        <inline-svg
          class="cart-buttons__favorites-icon"
          :src="require(`@/assets/image/icons/favorites_btn.svg`)"
        />
      </button>
    </div>
    <CartModel
      v-if="handlePopupForm"
      @closeCartModal="closeModal(false)"
      @handlePopup="closeModal(false)"
    />
  </div>
</template>
<script>
import CartModel from "../common/cart/CartModel";
export default {
  name: 'CartButtons',
  components: {
    CartModel
  },
  data() {
    return {
      amountCart: 1,
      handlePopupForm: false,
    }
  },
  methods: {
    counterAdd() {
      this.amountCart += 1
    },
    counterRemove() {
      this.amountCart -= 1
    },
    addToCart(){
      this.$store.dispatch('cart/addToCart', this.amountCart)
      this.handlePopupForm = true
    },
    closeModal(v = false){
      this.handlePopupForm = v
    }
  },
  computed: {
    isVisibleProduct() {
      return this.amountCart === 1
    },
  }
}
</script>
<style scoped lang="scss">
.cart-buttons {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #333333;

  @media (max-width: 910px) {
    align-items: flex-start;
    flex-direction: column;
  }

  &__control {
    display: flex;
    margin-right: 12px;
    background-color: #F2F2F2;

    @media (max-width: 910px) {
      margin-bottom: 12px;
    }
  }

  &__item {
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    width: 100%;
    height: 100%;

    &:not([disabled]):hover {
      background-color: #e2e7ec;
    }
  }

  &__amount {
    padding: 12px 20px;
  }

  &__button-wrapper {
    display: flex;

  }

  &__cart-button {
    display: flex;
    text-align: center;
    padding: 12px 28px;
    margin-right: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #333333;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;

    &:hover {
      background-color: #000000;
    }
  }

  &__favorites-icon {
    stroke: #FFFFFF;
  }

  &__favorites-add {
    padding: 14.5px;
    background-color: #333333;
    cursor: pointer;

    &:hover, &:hover *{
      background-color: #000000;
      stroke: #DC143C;
    }
  }
}


</style>
