<template>
  <div class="discount-block">
    <div class="discount-block__item">
      <span>
        <slot></slot>
      </span>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Discount',
}
</script>
<style scoped lang="scss">
.discount-block {


  &__item{
    padding: 4px 8px;
    border: 1px solid #333333;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #333333;
    margin-right: 9px;
  }
}
</style>
