<template>
  <div class="selection">
    <select id="size-select" class="select">
      <option class="select__item" disabled selected>Выбрать размер</option>
      <option class="select__item">32</option>
      <option class="select__item">34</option>
      <option class="select__item">36</option>
    </select>
  </div>
</template>
<script>
export default {
  name: 'SelectionSize'
}
</script>
<style scoped lang="scss">
.selection {
  position: relative;
  margin-bottom: 12px;

  &:before {
    content: url("@/assets/image/icons/arrow.svg");
    display: block;
    font-size: 12px;
    color: black;
    position: absolute;
    top: 50%;
    right: 13.25px;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.select {
  width: 100%;
  height: 100%;
  padding: 12px 178px 12px 16px;
  border: 1px solid #333333;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &:active, &:focus {
    outline: none
  }
}
</style>
