<template>
  <div class="rating">
    <!--      <input id="rating&#45;&#45;1" class="rating__item" type="radio" name="rating" value="1">-->
    <!--      <label class="rating__label" for="rating&#45;&#45;1"></label>-->
    <!--      <input id="rating&#45;&#45;2" class="rating__item" type="radio" name="rating" value="2">-->
    <!--      <label class="rating__label" for="rating&#45;&#45;2"></label>-->
    <!--      <input id="rating&#45;&#45;3" class="rating__item" type="radio" name="rating" value="3">-->
    <!--      <label class="rating__label" for="rating&#45;&#45;3"></label>-->
    <!--      <input id="rating&#45;&#45;4" class="rating__item" type="radio" name="rating" value="4">-->
    <!--      <label class="rating__label" for="rating&#45;&#45;4"></label>-->
    <!--      <input id="rating&#45;&#45;5" class="rating__item" type="radio" name="rating" value="5">-->
    <!--      <label class="rating__label" for="rating&#45;&#45;5"></label>-->
    <inline-svg
      class="rating__icon active"
      :src="require(`@/assets/image/icons/starBlack.svg`)"
    />
    <inline-svg
      class="rating__icon active"
      :src="require(`@/assets/image/icons/starBlack.svg`)"
    />
    <inline-svg
      class="rating__icon active"
      :src="require(`@/assets/image/icons/starBlack.svg`)"
    />
    <inline-svg
      class="rating__icon active"
      :src="require(`@/assets/image/icons/starBlack.svg`)"
    />
    <inline-svg
      class="rating__icon"
      :src="require(`@/assets/image/icons/starBlack.svg`)"
    />
  </div>
</template>
<script>
export default {
  name: 'StarRating',
  data() {
    return {}
  }
}
</script>
<style scoped lang="scss">
.rating {
  display: flex;
  align-items: center;
  margin-right: 5px;

  &__icon {
    padding: 1px;
    margin-right: 2px;
    fill: #FFFFFF;
    stroke: #333333;
    width: 10px;
    height: 9.5px;
  }
}

.active {
  fill: #333333;
}
</style>
