<template>
  <div class="popup">
    <div class="popup__content">
      <span>Добавлено {{ valueCart }} товаров в корзину</span>
    </div>
    <div
      class="popup__overlay"
      @click="toggleHandlePopup"
    >
    </div>
  </div>
</template>
<script>
export default {
  name: 'CartModel',
  data() {
    return {}
  },
  methods: {
    toggleHandlePopup() {
      this.$emit('handlePopup', false)
    }
  },
  computed: {
    valueCart() {
      return this.$store.state.cart.cart
    }
  },
  mounted() {
    setTimeout(() => {
      this.$emit('closeCartModal')
    }, 3000)
  }
}
</script>
<style lang="scss">
.popup {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  &__content {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 300px;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 2;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #333333;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    //background: rgba(64, 64, 64, .4);
  }
}
</style>

