<template>
  <div>
    <Product/>
    <Gallery/>
  </div>
</template>

<script>
import Product from "../components/main/Product";
import Gallery from "../components/main/Gallery";

export default {
  name: 'IndexPage',
  data(){
    return{
      handlePopupForm: false,
    }
  },
  components: {
    Product, Gallery,
  },
  methods: {

  }
}
</script>
